<div>
    <a routerLink="/admin/categorys/add">
        <button class="btn btn-primary">Add category</button>
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories, let i = index ">
            <th scope="row">{{i + 1}}</th>
            <td>{{category.name}}</td>


            <td><span *ngIf="category.status === 1" (click)="onStatus(category._id, 0)"
                    class="btn btn-primary ">ON</span>
                <span *ngIf="category.status === 0" (click)="onStatus(category._id, 1)" class="btn btn-dark">OFF</span>
            </td>
            <td>
                <!-- <a routerLink="/admin/categorys/{{category.id}}">Detail</a> -->
                <a [routerLink]="['/admin', 'categorys', category._id]"><button class="btn btn-info">Detail</button></a>
            </td>
            <td><a [routerLink]="['/admin', 'categorys', 'edit', category._id]"><button
                        class="btn btn-primary">Edit</button></a></td>

            <td><button class="btn btn-danger" (click)="onDelete(category._id)">Delete</button></td>

        </tr>

    </tbody>
</table>