<footer class="bg-[#F6FBF4] py-32 mt-32 pl-32">
    <div class="container grid grid-cols-4 max-w-6xl mx-aurouterLink">
        <div class="colum-inner leading-10 ">
            <h1 class="text-sm text-black font-medium py-6">
                CUSTOM SERVICE
            </h1>
            <p>Help & Contact</p>
            <p>Returns & Refunds</p>
            <p>Online SrouterLinkres</p>
            <p>Terms & Conditions</p>
        </div>
        <div class="colum-inner leading-10">
            <h1 class="text-sm text-black font-medium py-6">COMPANY</h1>
            <p>About us</p>
            <p>Blog</p>
            <p>Order Tracking</p>
            <p>FAQs</p>
            <p>Contact</p>
            <p>Login</p>
        </div>
        <div class="colum-inner leading-10">
            <h1 class="text-sm text-black font-medium py-6">SOCIAL MEDIA</h1>
            <p>Twitter</p>
            <p>Instagram</p>
            <p>Tumblr</p>
            <p>Pinterest</p>
        </div>
        <div class="colum-inner leading-10">
            <h1 class="text-sm text-black font-medium py-6">ARCHIVE</h1>
            <p>Clay</p>
            <p>Design</p>
            <p>New</p>
            <p>Plaster</p>
            <p>Vision</p>
        </div>
    </div>
</footer>