<div>
    <!-- <header style=" backgroundImage: url('https://i.imgur.com/35J0KJ3.jpg')"
        class="bg-local hover:bg-fixed pt-6 pb-32  bg-cover bg-center bg-no-repeat  ">
        <nav class="flex justify-between">
            <div class="px-10 py-2">
                <img src="https://i.imgur.com/GZnhgQQ.png" alt="" />
            </div>
            <div class="flex">
                <div class="menu routerLinkp-0">
                    <nav class="menu">
                        <ul class="flex text-sm">
                            <li class="hover:text-[#b97c5e]">
                                <a class="block py-4 px-4 text-black font-medium hover:text-[#b97c5e];" routerLink="/">
                                    HOME
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-4 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/about">
                                    ABOUT
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-4 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/products/1">
                                    SHOP
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-3 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/contact">
                                    CONTACT
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-3 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/admin/dashboard">
                                    ADMIN
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-3 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/login">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <ul class="subnav ">
                                    <li>
                                        <a class="text-black-500 font-medium" routerLink="/login">
                                            LOGIN
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-black-500 font-medium" routerLink="/register">
                                            SIGNUP
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-black-500 font-medium cursor-pointer" id="logout">
                                            LOG OUT
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="px-5 mt-4">
                    <i class="fa-brands fa-facebook-f px-2"></i>
                    <i class="fa-brands fa-instagram px-2"></i>
                    <i class="fa-brands fa-twitter px-2"></i>
                </div>
                <div class="mt-4 pr-10">
                    <span class="relative">
                        <i class="fa-solid fa-cart-shopping text-xl"></i>

                        <span
                            class="inline-flex absolute  items-center routerLinkp-[-13px] right-[-20px] justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-black  bg-white rounded-full">
                            9
                        </span>
                    </span>
                </div>
            </div>
        </nav>

        <div class="w-2/3 mx-auto pt-20 pl-12 ">
            <h3 class=" leading-tight font-serif text-7xl  py-5">About Us</h3>
            <p class="text-[#b97c5e] font-medium">
                Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
            </p>
        </div>
    </header> -->
    <div class="mt-[100px] max-w-6xl mx-auto grid grid-cols-2 gap-5">
        <div class="">
            <h1 class="text-5xl font-serif font-medium pb-2  pt-3">
                What we do
            </h1>
            <p class="text-lg">
                Mei invenire periculis ei, offendit mediocrem ne sea, eos suas elitr
                everti ea. Per vidit rebum quodsi id. Pericula interpretaris ea pri,
                prima conguen terpretaris prim. Ipsum, nec sagittis sem nibh id
                elit. Duis sed odio sit amet nibh vulputate cursus a sit amet
                mauris.
            </p>
            <p class="text-lg">
                Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor
                accumsan ipsum velit
            </p>
            <img src="https://i.imgur.com/fCmG6OZ.png" alt="" />
        </div>
        <div class="">
            <img src="https://i.imgur.com/A9CXa2I.jpg" alt="" />
        </div>
    </div>
    <div class="grid grid-cols-4 max-w-6xl mx-auto gap-6 py-36">
        <div class="text-center hover:bg-[#62ab00] border py-2 shadow-sm hover:text-white ">
            <h3 class="text-2xl font-medium ">
                Free Shipping Item
            </h3>
            <p class="text-gray-600 pt-3 hover:text-white">
                Order over $500
            </p>
            <p class="text-[#62ab00] font-medium text-sm pt-[20px] hover:text-white">
                VIEW ALL <i class="bi bi-chevron-right pl-1 hover:text-white"></i>
            </p>
        </div>
        <div class="text-center hover:bg-[#62ab00]  border py-2 shadow-sm hover:text-white">
            <h3 class="text-2xl font-medium  ">
                Money Back Guarantee
            </h3>
            <p class="text-gray-600 pt-3 hover:text-white">
                100% money back
            </p>
            <p class="text-[#62ab00] font-medium text-sm pt-[20px]">
                VIEW ALL <i class="bi bi-chevron-right pl-1 hover:text-white"></i>
            </p>
        </div>
        <div class="text-center hover:bg-[#62ab00] border py-2 shadow-sm hover:text-white">
            <h3 class="text-2xl font-medium  hover:text-white">
                Cash On Delivery
            </h3>
            <p class="text-gray-600 pt-3 hover:text-white">
                Lorem ipsum dolor amet
            </p>
            <p class="text-[#62ab00] font-medium text-sm pt-[20px]">
                VIEW ALL <i class="bi bi-chevron-right pl-1 hover:text-white"></i>
            </p>
        </div>
        <div class="text-center hover:bg-[#62ab00] border py-2 shadow-sm hover:text-white">

            <h3 class="text-2xl font-medium  hover:text-white">
                Help & Support
            </h3>
            <p class="text-gray-600 pt-3 hover:text-white">
                Call us: +0347 496 330
            </p>
            <p class="text-[#62ab00] font-medium text-sm pt-[20px] hover:text-white">
                VIEW ALL <i class="bi bi-chevron-right pl-1"></i>
            </p>
        </div>
    </div>
    <div class="bg-banner-email pt-[100px] pb-[200px] bg-cover bg-center bg-no-repeat">
        <h1 class="font-serif text-white text-5xl text-center pt-20">
            Subscribe to Newsletter
        </h1>
        <form class="text-center pt-10" action="">
            <input type="text" name="" placeholder="E-mail Adress"
                class="pr-32 pl-3 text-white py-3 bg-transparent border border-inherit outline-0 text-white" />
            <button class="bg-white text-sm text-black px-10 py-[18px] border bg-white ">
                SUBSCRIBE
            </button>
        </form>
    </div>
</div>