<p>{{userForm.valid | json }}</p>
iuu linhh
<!-- Hàm truyêfn vào gtri và trả về    1 chuỗi  -->
<form action="" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="inPutValue.name" class="form-control" required
            minlength="6" />
        <!-- <span>{{name.errors | json}}</span> -->
        <app-validate [field]="name" key="Tên"></app-validate>
    </div>
    <div class="form-group">
        <label for="">Age</label>
        <input type="number" name="age" min="1" max="100" #age="ngModel" [(ngModel)]="inPutValue.age" required
            class="form-control" />
        <app-validate [field]="age" key="Tuổi"></app-validate>
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input type="email" name="email" #email="ngModel" [(ngModel)]="inPutValue.email" required email
            class="form-control" />
        <app-validate [field]="email" key="Email"></app-validate>
    </div>
    <div class="form-group">
        <label for="">Sđt</label>
        <input type="number" name="sdt" #sdt="ngModel" [(ngModel)]="inPutValue.sdt" required class="form-control" />
        <app-validate [field]="sdt" key="Tuổi"></app-validate>
    </div>
    <div class="form-group">
        <label for="">Avata</label>
        <input type="text" name="img" min="1" max="100" #img="ngModel" [(ngModel)]="inPutValue.img" required
            class="form-control" />
        <app-validate [field]="img" key="Hình ảnh"></app-validate>
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-success" [disabled]="!userForm.valid" type="submit">Save</button>
        <button class="btn btn-danger mx-3">Cancel</button>
    </div>
</form>

<div class="">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên </th>
                <th scope="col">Tuổi</th>
                <th scope="col">Email</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Sđt</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row">{{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.email}}</td>
                <td><img src="{{user.img}}" alt=""></td>
                <td>{{user.sdt}}</td>
                <td>
                    <button (click)="onEdit(user.id)" class="btn btn-warning">Sửa</button>
                    <button (click)="onDelete(user.id)" class="btn btn-danger">Delete</button>

                </td>
            </tr>

        </tbody>
    </table>
</div>