<div class="">
    <div class="grid grid-cols-2 max-w-6xl mx-auto">
        <div class="">
            <img class="w-[550px] h-[606px]" src={{product.image}} alt="" />
        </div>
        <div class="">
            <h1 class="font-serif text-5xl pt-10">{{product.name}}</h1>
            <p class="font-medium text-3xl text-[#62ab00] py-3">
                $ {{product.price}}
            </p>
            <p class="text-gray-500 pb-3">{{product.desc}}</p>
            <form action="">
                <input type="number" class="border w-25 h-[38px] pl-3 outline-0 mr-2" min="1" [value]="cartItemValues"
                    (input)="onInputValueChange($event)" placeholder="1" name="" id="" />
                <button (click)="onAddToCart()" class="inline-flex items-center h-10 px-5 text-white transition-colors duration-150 bg-[#62ab00]
                    rounded-lg focus:shadow-outline hover:bg-[#b96c4e]">
                    <span>Add to cart</span>
                    <svg class="w-4 h-4 ml-3 fill-current" viewBox="0 0 20 20">
                        <path
                            d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                            clip-rule="evenodd" fill-rule="evenodd"></path>
                    </svg>
                </button>
            </form>

            <div class="py-3 leading-7 tagss">
                <b>SKU:</b>
                <span>001</span>
                <br />
                <b>CATEGORIES:</b>
                <span>Art, Biography, Anthology</span>
                <br />
                <b>TAGS:</b>
                <span>Artist, Brick, Ceramics, Oval, Tactile, Wood</span>
                <br />
            </div>


            <div class="">
                <button
                    class="h-10 outline-0 text-[#62ab00] font-serif transition-colors duration-150 border border-indigo-500 rounded-lg focus:shadow-outline text-xl  hover:bg-[#62ab00] hover:text-white w-[570px]">
                    Review ( 0 )
                </button>

                <div class="px-2 py-3" key={index}>
                    <h3 class="tagss">Reviews</h3>
                    <div class="">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="pt-28">
        <h1 class="font-serif text-4xl pt-10 max-w-6xl mx-auto">
            Ceramic Products
        </h1>
        <app-product></app-product>
    </div>
</div>