<div class=" ">
    <header class=" bg-local hover:bg-fixed pt-6 pb-[200px] bg-header-img bg-cover bg-center bg-no-repeat  ">
        <nav class="flex justify-between">
            <div class="px-10 py-2">
                <img src="https://i.imgur.com/uT5ZO5j.png" alt="" />
            </div>
            <div class="flex">
                <div class="menu routerLinkp-0">
                    <nav class="menu">
                        <ul class="flex text-sm">
                            <li class="hover:text-[#b97c5e]">
                                <a class="block py-4 px-4 text-black font-medium hover:text-[#b97c5e];" routerLink="/">
                                    HOME
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-4 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/about">
                                    ABOUT
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-4 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/products">
                                    SHOP
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-3 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/contact">
                                    CONTACT
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-3 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/admin/dashboard">
                                    ADMIN
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-3 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/login">
                                    <i class="fa-solid fa-user"></i>
                                </a>
                                <ul class="subnav ">
                                    <li>
                                        <a class="text-black-500 font-medium" routerLink="/login">
                                            LOGIN
                                        </a>
                                    </li>
                                    <li>
                                        <a class="text-black-500 font-medium" routerLink="/register">
                                            SIGNUP
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-black-500 font-medium cursor-pointer" id="logout">
                                            LOG OUT
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="px-5 mt-4">
                    <i class="fa-brands fa-facebook-f px-2"></i>
                    <i class="fa-brands fa-instagram px-2"></i>
                    <i class="fa-brands fa-twitter px-2"></i>
                </div>
                <div class="mt-4 pr-10">
                    <span class="relative">
                        <i class="fa-solid fa-cart-shopping text-xl"></i>

                        <span
                            class="inline-flex absolute  items-center routerLinkp-[-13px] right-[-20px] justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-black  bg-white rounded-full">
                            9
                        </span>
                    </span>
                </div>
            </div>
        </nav>

        <div class="w-2/3 mx-aurouterLink pt-20 pl-12 ">
            <p class="px-2 mt-3 text-center py-3 bg-[#62ab00] w-32 text-white text-sm">BEST AVAILABLE</p>
            <h3 class=" leading-tight font-serif text-7xl  py-5">
                Books Collection <br /> & Pottery Retailer
            </h3>
            <p class=" font-medium">
                WE MAKE UNIQUE THINGS WITH LOVE AND PASSION
            </p>
        </div>
    </header>
    <div class="">
        <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
</div>