<div class=" ">
    <header class=" bg-local hover:bg-fixed pt-6 pb-[200px] bg-header-img bg-cover bg-center bg-no-repeat  ">
        <nav class="flex justify-between">
            <div class="px-10 py-2">
                <img src="https://i.imgur.com/uT5ZO5j.png" alt="" />
            </div>
            <div class="flex">
                <div class="menu routerLinkp-0">
                    <nav class="menu">
                        <ul class="flex text-sm">
                            <li class="hover:text-[#b97c5e]">
                                <a class="block py-4 px-4 text-black font-medium hover:text-[#b97c5e];" routerLink="/">
                                    HOME
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-4 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/about">
                                    ABOUT
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-4 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/products/list">
                                    SHOP
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-3 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/contact">
                                    CONTACT
                                </a>
                            </li>
                            <li>
                                <a class="block py-4 px-3 text-black font-medium hover:text-[#B97C5E];"
                                    routerLink="/admin/products">
                                    ADMIN
                                </a>
                            </li>
                                <li *ngIf="users;else other_content">
                                    <a class="block py-4 px-2 text-black font-medium hover:text-[#B97C5E];" routerLink="/auth/login">
                                    <i class="fa-solid fa-user-check"></i>
                                    </a>
                                    <ul class="subnav ">
                                       
                                
                                        <li>
                                            <div class="text-black-500 font-medium cursor-pointer" (click)="onLogOut()" id="logout">
                                                LOG OUT
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <div class="px-5 mt-4">
                                    Hello {{users.user.name}} !
                                
                                </div>
                            
                            <ng-template #other_content>
                                <li>
                                    <a class="block py-4 px-2 text-black font-medium hover:text-[#B97C5E];" routerLink="/auth/login">
                                        <i class="fa-solid fa-user"></i>
                                    </a>
                                    <ul class="subnav ">
                                        <li>
                                            <a class="text-black-500 font-medium" routerLink="/auth/login">
                                                LOGIN
                                            </a>
                                        </li>
                                        <li>
                                            <a class="text-black-500 font-medium" routerLink="/auth/register">
                                                SIGNUP
                                            </a>
                                        </li>
                                
                                    </ul>
                                </li>
                            </ng-template>
                           
                           
                        </ul>
                    </nav>
                </div>
                
                <div class="mt-4 pr-10">
                    <a routerLink="/cart">

                        <span class="relative cursor-pointer" >
                            <i class="fa-solid fa-cart-shopping text-xl"></i>
                            <app-cart  class="inline-flex absolute  items-center routerLinkp-[-13px] right-[-25px] -top-3 justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-black  bg-white rounded-full"></app-cart>
                        </span>
                    </a>
                </div>
            </div>
        </nav>

        <div class="w-2/3 mx-aurouterLink pt-20 pl-12 ">
            <p class="px-2 mt-3 text-center py-3 bg-[#62ab00] w-32 text-white text-sm">BEST AVAILABLE</p>
            <h3 class=" leading-tight font-serif text-7xl  py-5">
                Books Collection <br /> & Pottery Retailer
            </h3>
            <p class=" font-medium">
                WE MAKE UNIQUE THINGS WITH LOVE AND PASSION
            </p>
        </div>
    </header>
    <div class="">
        <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
</div>