<div class="container" role="main">
  <!-- dssv -->
  <button class="btn btn-danger">Danh sách giảng viên</button>
  <div class="">
    <app-table [users]="students"></app-table>


  </div>


  <div class="">
    <!-- b1 : coponent con <app-name></app-name> 
         b2: định nghĩa việc nhận và truyền dữ liệu
         b3: truyền dl động MSV : <app-identity [id]="studentId"></app-identity>
     -->
    Tên sv : <app-name [name]="studentName"></app-name>
    MSV : <app-identity [id]="studentId"></app-identity>
  </div>
</div>