<div>
    <a routerLink="/admin/products/add">
        <button class="btn btn-primary">Add product</button>
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products, let i = index ">
            <th scope="row">{{i + 1}}</th>
            <td>{{product.name}}</td>
            <td><span *ngIf="product.status === 1" (click)="onStatus(product.id, 0)" class="btn btn-primary ">ON</span>
                <span *ngIf="product.status === 0" (click)="onStatus(product.id, 1)" class="btn btn-dark">OFF</span>
            </td>
            <td>
                <!-- <a routerLink="/admin/products/{{product.id}}">Detail</a> -->
                <a [routerLink]="['/admin', 'products', product.id]"><button class="btn btn-info">Detail</button></a>
            </td>
            <td><a [routerLink]="['/admin', 'products', 'edit', product.id]"><button
                        class="btn btn-primary">Edit</button></a></td>

            <td><button class="btn btn-danger" (click)="onDelete(product.id)">Delete</button></td>

        </tr>

    </tbody>
</table>