<div class="">
    <div class=" max-w-6xl mx-auto pb-42">
        <h2>Tổng sản phẩm : <app-cart></app-cart>
        </h2>
        <table class=" border table table-hover">
            <thead>
                <tr>
                    <th class="border-r py-2">Remove</th>
                    <th class="py-2">Image</th>
                    <th class="py-2">Product</th>
                    <th class="py-2">Price</th>
                    <th class="py-2">Amount</th>
                    <th class="py-2">QUANTITY</th>
                    <th class="py-2"> TOTAL</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="border px-6 text-center py-4">X</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        <img width="80" src="" />
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">name</td>

                    <td class="px-6 py-4 whitespace-nowrap">
                        $ gias
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        danh mục ssp
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">

                        <input type="number" value={`${item.quantity}`} class="border border-gray-500 w-16 px-2" />

                    </td>
                    <td>$ tổng</td>
                </tr>;

            </tbody>
        </table>

        <div class="mt-14 grid grid-cols-2">
            <div class="relative text-gray-700">
                <input
                    class="w-3xl pl-3 pr-8 py-3 outline-0 text-base placeholder-gray-600 border rounded-lg focus:shadow-outline"
                    type="text" placeholder="Coupon Code" />
                <button
                    class="absolute font-serif inset-y-0 left-[180px] flex items-center px-4 font-bold text-white bg-indigo-600 rounded-r-lg hover:bg-indigo-500 focus:bg-indigo-700">
                    Apply Coupon
                </button>
            </div>
            <div class="flex gap-3">
                <a href="/">
                    <button class="px-5 text-white font-serif  py-3 bg-[#62ab00] mx-2" type="submit">
                        Continue Shopping
                    </button>
                </a>
                <a href="/cart/checkout">
                    <button class="px-5 text-white  font-serif py-3 bg-[#62ab00] mx-2" type="submit">
                        Proceed To Checkout
                    </button>
                </a>
            </div>
        </div>
        <div class="ml-[770px] pt-5  font-serif">
            <h1 class=" text-2xl">Cart totals</h1>
            <span class=" pt-5 text-xl">Subtotal: </span>
            <span class="text-[#62ab00] text-lg">$103.00</span>
            <br />
            <span class="font-serif text-xl">Total: </span>
            <span class="text-2xl text-red-700 font-medium">$103.00</span>
        </div>
    </div>
</div>